* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}
body {
  background-color: rgba(24, 26, 27, 0.0) !important;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5,
.navbar-brand {
  line-height: 1.4;
  color: #fff;
  font-weight: 400;
  font-family: "Josefin Sans", Arial, sans-serif; 
}

.span-details {
  color: rgba(202, 202, 202, 0.9);
  font-size: 1.2rem;
}

.text-color-gold {
  color: rgb(189, 151, 98) !important;
}

.navbar {
  height: 5.5rem;
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.navbar-logo-solo {
  background-color: rgba(24, 26, 27, 0.0) !important;
  position: fixed;
}

.nav-link {
  width: 10rem;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.9) !important;
  text-align: center;
}

.nav-link:hover, .span-link:hover {
  color: rgb(189, 151, 98) !important;
}

.navbar-brand small {
  text-transform: uppercase;
  font-size: 1rem;
  display: block;
  text-align: center;
  letter-spacing: 5px; 
  color: white;
}

.navbar-brand{
  text-align: center;
  font-size: 2rem !important;
  width: 6rem;
}

.login-box-logo, .register-box-logo {
  font-size: 3rem !important;
}

.dropdown-menu, .dropdown-item {
  background-color: rgb(24, 26, 27) !important;
  color: rgb(125, 125, 125) !important;
}

.dropdown-item:hover {
  color: white !important;
}

.home-container {
  height: 100vh;
}
.main-container {
  min-height: 80vh;
}

.welcome-box {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.main-bg-color {
  background-color: rgba(0, 0, 0, 0.94) !important;
}

.about-line {
  border-bottom: 1px solid rgba(221, 171, 62, 0.753);
} 

.full-stack-color {
  color: rgba(221, 171, 62, 0.753);
}

.card-image-style-user {
  border: 3px white solid;
  border-radius: 100% !important;
}

.user-card {
  background: rgba(24, 26, 27, 0.0) !important;
}
.user-card-background {
  background: rgb(100, 91, 49) !important;
}

.zuitt-border, .indra-border, .summary-border {
  border-left: solid 1px white;
}

.resume-cards, .card-product {
  cursor: pointer;
  -webkit-filter: brightness(100%);
}

.resume-cards:hover, .card-product:hover {
  cursor: pointer;
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.resume-modal {
  background-color: rgba(24, 26, 27, 1) !important;
}

.selected-resume-card {
  width:90vw;
  height:60rem; 
}

@media only screen and (max-width: 540px) {
  .selected-resume-card {
    margin-top: 6rem;
    width:90vh;
    height:90vw !important; 
    -ms-transform: rotate(90deg); /* IE 9 */
  transform: rotate(90deg);
  }

  .navbar-nav {
    background: rgba(24, 26, 27, 1) !important;
  }
}

.card-image-style {
  object-fit: cover;
  width: 100%;
  min-height: 80%;
  max-height: 80%;
}

.card-product {
  background-color: rgba(24, 26, 27, 1) !important;
}